<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head}}
    </head>
    <body>
        {{> debug}}
        <section>
            <div class="container">
                {{> header}}
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Your Orders <small>&nbsp;previous 10</small></h1>
                    </div>
                </div>

                {{#orders}}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{purchaseDateDisplay}}</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h3>Cart</h3>
                                        <!-- show the cart -->
                                        {{> shoppingCart}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h3>Shipping Information</h3>
                                        {{#address}}
                                            {{name.first}} {{name.last}}<br />
                                            {{street1}}<br />
                                            {{#street2}}{{.}}<br/>{{/street2}}
                                            {{city}}, {{state}} {{zip}}
                                        {{/address}}
                                    </div>
                                    <div class="col-sm-6">
                                        <h3>Billing Information</h3>
                                        {{#payment}}
                                            Credit Card: {{creditCard.number}} <br />
                                            Expires: {{creditCard.expiration}}
                                        {{/payment}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/orders}}
                
                {{^orders}}
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>No orders found.</h2>
                        </div>
                    </div>
                {{/orders}}

                <a href="/shop" class="btn btn-lg btn-default ignore">Shop</a>
            </div>
        </section>

        {{> footer}}
        
        <script src="./js/script.min.js"></script>
    </body>
</html>